/*
SPDX-FileCopyrightText: 2025 CERN
SPDX-License-Identifier: GPL-3.0-or-later
*/

.main_page_img {
   width:75%;
}

@media (prefers-color-scheme: dark) {
   .main_page_img {
      -webkit-filter: invert(100%);
      filter: invert(100%);
   }
}
